<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="text-muted">Zendesk Coding Challenge 2021 </span>
            </div>
            <div class="col-md-4 hstack">
                <span class="mx-auto"> <a href="https://github.com/GuyBritish/ZendeskTicketViewer" target="_blank"><i class="fab fa-github fa-2x"></i></a> </span>
            </div>
            <div class="col-md-4 hstack">
                <span class="text-muted ms-auto"> Created by Khai Bui </span>
            </div>
        </div>
    </div> 
</footer>